extends layout

block content
  h1= message
  
  section(class="card")
    img(class= "cover",src="/images/notfound.jpg")
    h2= error.status
    p Seguimos trabajando en el sitio.
    code #{error.stack}
