extends layout

block content
  
  h1 #{event.get("title")}
  
  section(class="card")
    img(class="cover", src=event.get("icon")._url)    
    p #{event.get("caption")}
    
  section(class="card")
    h1 Schedules
    p(class="small") 
      +printDate( event.get('date') )
      
    if schedules.length > 0
      each schedule in schedules
        h2=  schedule.get("name")
    else 
      p No events :(
      
