extends layout

block content
  
  h1= title
  
  section(class="card")
    article
      h1 ¿Qué es el GAME ON! HACK?
      p(class="small") Acerca #{title}
      p El Game On! Hack es un evento que promueve la creatividad, la sinergia y el emprendimiento. El objetivo de este evento es la creación de videojuegos móviles. En un período de 26 horas, los participantes tendrán la tarea de crear un videojuego móvil; para ello será necesario que varias disciplinas como la programación, el diseño gráfico, la producción audiovisual, la escritura creativa y la mercadotecnia trabajen juntas para crear el mejor producto posible.
      p Al final de la competencia, tres jurados evaluarán los proyectos y premiarán a tres de ellos. Los ganadores recibirán un premio en efectivo, la mentoría durante los tres meses consecutivos al evento, con el objetivo de finalizar el juego que comenzaron durante el evento y la posibilidad de firmar un contrato de distribución con Tigo, quienes tienen la buena disposición de potenciar los proyectos ganadores utilizando su plataforma de distribución de contenido para móviles, la más grande de Honduras.
      p Es importante notar que al participar en este evento estás de acuerdo con las reglas oficiales y te comprometés a respetarlas.
  
  section(class="card")
    h1 Contributing 
    p(class="small") Help create #{title}
    
    h2 Developer
    p If you want to participate in the development of GOHack, join us! Please check out our Github page: 
      a(href="https://github.com/gameonhack", class="blue") https://github.com/gameonhack
      
    p Please check our Design Guidelines 
      a(href="/design", class="blue") Learn more
    
    p We are looking for NodeJS Developers 
      a(href="mailto:info@gohackathon.com", class="blue") info@gohackathon.com
    
    h2 Staff
    p Please contact us at 
      a(href="mailto:info@gohackathon.com", class="blue") info@gohackathon.com
  
  
        
