extends layout

block content
  include header
  h1= title
  p Welcome to #{title}
  
  ul
  each group in groups
    li #{group.get("name")}
      if group.get("icon")
        img(src=group.get("icon")._url )
        
