extends layout

block content
  div(class="nocardrender")
    section(class="card")
      article
        
        section(class="card")
          a(href="/events/gotalks")
            div(class="col-3 mainImage")
              div(class="square")
                img(class="cover", src="/images/events/gotalks.svg")
              h1 GO Talks 
                   
          a(href="/events/gohackathon")
            div(class="col-3 col-m-1 mainImage")
                div(class="square")
                  img(class="cover", src="/images/events/gohackathon.svg") 
                h1 GO Hackathon   
            
          a(href="/events/gobattle")
            div(class="col-3 mainImage")
              div(class="square ")
                img(class="cover", src="/images/events/gobattle.svg")
              h1 GO Battle
              
        h1 Acerca de #{title}
        p El Game On es un innovador evento que promueve la creatividad, la sinergia, y el emprendimiento. El evento se dividirá en tres niveles principales: educativa, competitiva, y recreativa donde se necesitarán conocimientos en los campos de programación, diseño gráfico, producción audiovisual, y marketing, todas éstas involucrándose con el fin de impulsar el desarrollo de videojuegos, y a su vez crear una comunidad de developers.
        p Nuestro propósito es crear una comunidad que permanezca en constante contacto y así innovar el desarrollo de videojuegos en Honduras.
      
        h1 ¿Dónde Será?
        p El evento se llevará a cabo en el Campus de UNITEC, Tegucigalpa.
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.4913646763207!2d-87.17626138496748!3d14.04813709015621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6fbcfacdb96c17%3A0x94999a679eabaa4f!2sUNITEC!5e0!3m2!1ses-419!2shn!4v1467938523616" width='100%' height='500' frameborder=0 scrolling='no')

        
        h1 ¿Dónde puedo comprar las entradas?
        p Las entradas se estarán vendiendo por eventbrite.com. Para comprarlas visita nuestra página de eventos y presiona el botón de comprar tickets.
        
        h1 ¿Si no soy estudiante de Unitec, aún puedo participar?
        p ¡Si! Game on es evento abierto a todo público. No importa si eres estudiante, profesional o simplemente amante de los videojuegos.
    section(class="card")
      h1 Patrocinadores
      div(class="col-3 mainImage")
        a(onclick="openURL('http://acklenavenue.com/')")
          img(class="cover" src="/images/sponsors/acklen_avenue.svg")
      div(class="col-3 mainImage")
        a(onclick="openURL('http://squadventure.com/')")
          img(class="cover" src="/images/sponsors/squadventure.svg")
      div(class="col-1 col-m-2 mainImage")
        a(onclick="openURL('http://www.mediacitygames.com/')")
          img(class="cover" , src="/images/sponsors/mediacity.svg")
      div(class="col-1 col-m-2 mainImage")
        a(onclick="openURL('http://ensohn.com/')")
          img(class="cover" , src="/images/sponsors/enso_media.svg")
      div(class="col-1 col-m-2 mainImage")
        a(onclick="openURL('http://unitec.edu/')")
          img(class="cover" , src="/images/sponsors/unitec.svg" )
      div(class="col-1 col-m-2 mainImage")
        a(onclick="openURL('http://www.facebook.com/ascitgu')")
          img(class="cover" , src="/images/sponsors/sistemas.svg" )
      
    section(class="card")
      h1 Contacto
      
      div(class="col-2 col-m-8 mainImage")
        div(class="square")
          img(class="cover" src="/images/messenger_code_1763240193918296.png")
          
      p Si tienes alguna duda con el evento o simplemente quieres formar parte, escríbenos a: 
        a(onclick="openURL('mailto:info@gameonhack.com')" , class="blue") info@gameonhack.com
      div(class="col-1 col-m-9 mainImage")
        a(onclick="openURL('https://www.facebook.com/gameonhack')")
          img(class="centervertical", src="/images/facebook.svg" width ='30px')
      
    
    
          
