if shouldLoadLayout == true
  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="/javascripts/pageloader.js")
      script(src="/javascripts/dateutils.js")
    body
      include general/header
      main
        block content
      include general/footer
else 
  block content
