include general/functions

if shouldLoadLayout == true
  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="https://use.fontawesome.com/c892198e9f.js")
      script(src="/javascripts/pageloader.js")
      //script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    body
      include general/header
      div(class="spinner", id="loading", style="display: none") 
        div(class="dot1")
        div(class="dot2")
        
      main
        
          
        block content
      include general/footer
else 
  block content
