extends layout

block content
  
  h1 Login
  
  section(class="card")
    a(onclick="openURL('#{facebooklogin}')")
      img(src="https://www.facebook.com/images/fb_icon_325x325.png")
      
  section(class="card")
    h1 Login with your username and password
    div(class="col-2")
    div(class="col-8")
      form(method="post" action="/login")
        div
          label(for="username") Username
          input(type="text", placeholder="Username", id="username", name="user")
        div
          label(for="username") Password
          input(type="password", placeholder="Password", name="pass") 
        button(type="submit", class="default floatRight") Login 
      
