header
  a(href="/")
   img(id="logo", class="centervertical", src="images/gohackathon-logo.svg")
  ul
    li
      a(href="/events")
        img(src="/images/icons/events.svg")
        span Events
    li 
      a(href="/games")
        img(src="/images/icons/games.svg")
        span Games
    li
      a(href="/groups")
        img(src="/images/icons/groups.svg")
        span Groups
    li
      a(href="/profile")
        img(src="/images/icons/profile.svg")
        span Profile
